body{
    color: rgb(224, 218, 135);
    background-color: rgb(20, 10, 44);
    text-align: center;
}
footer{
    text-align: center;
    position: fixed;
    bottom: 0;
}
h1{
    font-family: germanika;
    font-size: 80px;
    margin: 0px;
}
h2{
    font-family: germanika;
    margin: 0px;
    font-size:40px;
    margin-bottom: 20px;
}
h6{
    margin: 0;
    color: blue;
}
a{
    font-weight: bold;
    color: rgb(121, 45, 45);
    text-decoration: none;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div{
    background-color: rgb(14, 0, 90);
    margin-left:30%;
    margin-right: 30%;
    display: block;
}
overwrite{
    position: absolute;
    top: 1vw;
    left: 1vw;
    display:block;
    background-color: rgb(25, 0, 255);
    border-radius: 5px;
    margin: auto;
    width: 15vw;
    border-style: dotted;
    text-align: center;
}
@font-face {
    font-family: germanika;
    src: url(Germanika.ttf);
}
@media(max-width:800px){ /*small screen idk who has a screen width of 800*/
    h1{
        font-size: 38px;
    }
    h2{
        font-size:28px;
    }
    div{
        background-color: rgb(14, 0, 90) ;
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media(max-width:500px){ /*iphone and android*/
    h1{
        font-size: 40px;
    }
    h2{
        font-size:20px;
    }
    div{
        background-color: rgb(14, 0, 90) ;
        margin-left: 1%;
        margin-right: 1%;
    }
}